{% extends 'base.html.twig' %}
{% block title %}
  Mon compte 
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}

<div class="flex items-center justify-center font-body m-8">
  <div class="w-full max-w-md lg:max-w-3xl bg-white shadow-lg rounded py-5 px-6 lg:px-12">  
    <div class="flex items-center flex-col">
      <a href="{{ path('security_personalData') }}" class="m-auto">
        <button
          class="my-6 px-4 py-2 rounded text-dark-red font-bold inline-block shadow-lg bg-light-blue hover:bg-blue-400 transform hover:scale-110"
          type="button"
        >
          Mes données personnelles
        </button>
      </a>

      <a href="{{ path('order_history') }}" class="m-auto">
        <button
          class="my-6 px-4 py-2 rounded text-dark-red font-bold inline-block shadow-lg bg-light-blue hover:bg-blue-400 transform hover:scale-110"
          type="button"
        >
          Mes commandes
        </button>
      </a>
    </div>
  </div>
</div>

{% endblock %}