{% extends 'base.html.twig' %}

{% block title %}Données personnelles{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}
<div class="text-center p-8 lg:px-28">
  <div class="py-3 lg:py-6">
    <h4
      class="text-dark-red font-display font-bold text-xl lg:text-3xl py-2 px-10 lg:px-40 align-middle inline-block"
    >
      Cette page est en cours de construction.
    </h4>
    <img src="/img/works.png" alt="En construction" class="m-auto">
  </div>
</div> 
{% endblock %}
