{% extends 'base.html.twig' %}

{% block title %}Données personnelles{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}
<div class="text-center p-8 lg:px-28">
  <div class="py-3 lg:py-6">
    <h4
      class="rounded-lg bg-light-orange text-dark-red font-display font-bold text-2xl lg:text-3xl py-2
      px-10 lg:px-40 align-middle inline-block"
    >
      Politique de traitement des données personnelles
    </h4>
  </div>
  <div class=" font-body py-6 lg:text-base text-justify leading-tight">
    <p>
      La présente Politique de traitement des données personnelles (ci-après la « Politique de traitement ») 
      s’applique aux traitements de données à caractère personnel mis en œuvre dans le cadre de la connexion, 
      la navigation et l’utilisation des services proposés sur le site "Flamboyant Créa" (ci-après le « Site »).
    </p>

    <h1 class="px-2 py-2 font-bold text-dark-orange">1. Désignation du Responsable de traitement</h1>
    <p>Flamboyant Créa</p>
    <p>50 Boulevard Einstein</br>44200 Nantes</p>
    <p>contact@flamboyantcrea.com</p>

    <h1 class="px-2 py-2 font-bold text-dark-orange">2. Désignation du délégué à la protection des données</h1>
    <p>Délégué à la protection des données</p>
    <p>Flamboyant Créa</p>
    <p>50 Boulevard Einstein</br>44200 Nantes</p>
    <p>contact@flamboyantcrea.com</p>
    
    <h1 class="px-2 py-2 font-bold text-dark-orange">3. Finalités poursuivies par la Société et bases juridiques</h1>
    <p>Selon les finalités poursuivies par la Société, les traitements de données personnelles ont pour bases juridiques :</p>
    <h1 class="px-2 py-2 font-bold text-dark-orange">3.1.  La conclusion (mesures précontractuelles) et l'exécution 
    du contrat lorsque la Société met en œuvre des traitements ayant pour finalité :</h1>
    <ul>
      <li>l’ouverture et la gestion des comptes clients;</li>
      <li>les opérations relatives à la gestion et suivi des clients concernant : les contrats; les commandes; les 
      livraisons; les factures; la comptabilité;</li>
      <li>le suivi de la relation clientèle : la réalisation d'enquêtes de satisfaction, la gestion des réclamations 
      et du service après-vente;</li>
      <li>la gestion des impayés et du contentieux;</li>
      <li>l'organisation de jeux concours, de loteries ou de toute autre opération promotionnelle (type parrainage);</li>
      <li>la gestion des avis des personnes sur des produits, services ou contenus, notamment dans le cadre du système 
      d’évaluation des produits, sans rappel à évaluation;</li>
    </ul>

    <h1 class="px-2 py-2 font-bold text-dark-orange">3.2. L’intérêt légitime poursuivi par la Société lorsqu’elle 
    poursuit les finalités suivantes :</h1>
    <ul>
      <li>l'élaboration de statistiques commerciales et l’optimisation de l’offre;</li>
      <li>la gestion et le suivi des réponses aux formulaires de contact adressés par le biais du Site;</li>
      <li>la sécurité du Site;</li>
    </ul>

    <h1 class="px-2 py-2 font-bold text-dark-orange">3.3. Le respect d’obligations légales et réglementaires lorsque 
    la Société met en œuvre un traitement ayant pour finalité :</h1>
    <ul>
      <li>la facturation;</li>
      <li>la comptabilité;</li>
      <li>la gestion des demandes d'exercice des droits au regard du RGPD;</li>
    </ul>

    <h1 class="px-2 py-2 font-bold text-dark-orange">3.4. Le consentement explicite des personnes concernées, lorsque 
    la Société met en œuvre des traitements ayant pour finalité :</h1>
    <ul>
      <li>des opérations relatives à la prospection : envoi d’informations commerciales et publicitaires, en fonction des 
      préférences du client, envoi d’offres pour des produits, envoi de recommandation;</li>
      <li>la gestion des avis des personnes sur des produits, services ou contenus, notamment dans le cadre du système 
      d’évaluation des produits</li>
    </ul>
    <p>Dès lors que la base juridique pour le traitement est le consentement explicite de la personne concernée (cf. 
    point 3.4. ci-dessus), cette dernière peut, à tout moment, retirer son consentement.</p>

    <h1 class="px-2 py-2 font-bold text-dark-orange">4. Dispositions particulière</h1>
    <h1 class="px-2 py-2 font-bold text-dark-orange">4.1. Emailing</h1>
    <p>Il est possible à tout moment de s’opposer à l’envoi d’emailing aux fins de prospection en cliquant sur le lien de 
    désinscription au sein de chaque emailing ou en adressant sa demande à : contact@flamboyantcrea.com.</p>

    <h1 class="px-2 py-2 font-bold text-dark-orange">4.2. Opérations promotionnelles</h1>
    <p>La participation aux opérations promotionnelles (jeu-concours…) n’est pas conditionnée au consentement pour la réception 
    d’informations commerciales et publicitaires.</p>
    
    <h1 class="px-2 py-2 font-bold text-dark-orange">5. Catégories de données personnelles collectées</h1>
    <p>Les données personnelles qui sont collectées sont les suivantes :</p>
    <ul>
      <li>Les données d’identification et les coordonnées : civilité, nom, prénoms, adresse postale, numéro de téléphone 
      (fixe et/ou mobile), adresses de courrier électronique, date de naissance, numéro de client interne. Une copie d'un 
      titre d'identité peut être collectée aux fins de preuve de l'exercice d'un droit d'accès, de rectification ou 
      d'opposition ou pour répondre à une obligation légale;</li>
      <li>les données relatives aux moyens de paiement : relevé d'identité postale ou bancaire, numéro de chèque, 
      numéro de carte bancaire, date de fin de validité de la carte 
      bancaire, cryptogramme visuel (ce dernier n’étant pas conservé – voir ci-après);</li>
      <li>les données relatives à la transaction telles que le numéro de la transaction, le détail de l'achat, produit 
      acheté;</li>
      <li>les données relatives au suivi de la relation commerciale : demandes de documentation, demandes d'essai, 
      produit acheté, quantité, montant, adresse de livraison, historique des achats, retour des produits, 
      correspondances avec le client et service après-vente, échanges et commentaires des clients et prospects, 
      personne(s) en charge de la relation client;</li>
      <li>les données relatives aux règlements des factures : modalités de règlement, remises consenties, reçus, 
      soldes et impayés;</li>
      <li>les données nécessaires à la réalisation des actions, de prospection, d’étude, de sondage et de promotion;</li>
      <li>les données relatives à l'organisation et au traitement des jeux concours, de loteries et de toute opération 
      promotionnelle telles que la date de participation, les réponses apportées aux jeux concours et la nature des 
      lots offerts;</li>
      <li>les données relatives aux contributions des personnes qui déposent sur le Site Internet de la Société des 
      avis sur des produits, services ou contenus, notamment leur pseudonyme ou leur initiale, prénom et localisation;</li>
      <li>les données collectées par le biais de cookies, et notamment : adresse IP, comportement et intérêts des 
      utilisateurs du Site, produits consultés ou commandés, montant de la commande, durée d’inactivité, 
      géolocalisation, les accusés de réception et de lecture d’e-mails, les informations de connexion, la date et 
      l'heure de la visite de la page d'accueil du Site;</li>
    </ul>

    <h1 class="px-2 py-2 font-bold text-dark-orange">6. Origine des données personnelles</h1>
    <p>Les données personnelles sont collectées directement auprès de la personne concernée ou par le biais de cookies 
    de sociétés tierces.</p>
    
    <h1 class="px-2 py-2 font-bold text-dark-orange">7. Données personnelles obligatoires</h1>
    <p>Lors de la collecte des données personnelles sur le Site, il est indiqué si la communication est facultative 
    ou obligatoire par la présence d'un astérisque lorsque la communication est obligatoire.</p>  
    <p>Le défaut de réponse obligatoire à une demande de données personnelles entraîne, le cas échéant, 
    l'impossibilité de traiter la demande de la personne concernée.</p>    
    
    <h1 class="px-2 py-2 font-bold text-dark-orange">8. Destinataires</h1>
    <p>Les données personnelles collectées sont destinées à la Société et à son personnel habilité.</p>
    <p>Les données personnelles sont également destinées à des sociétés tierces dans la mesure où la Société 
    recourt aux services de tiers dans le cadre de l’exercice de ses activités, à savoir : prestataires de moyens 
    de paiement ou de sécurisation des paiements, sociétés de recouvrement, prestataires de livraison et de services 
    logistiques, prestataires d’envoi d’emailing et postaux, partenaires commerciaux, sociétés utilisant des cookies 
    sur le Site.</p>
    <p>Nous travaillons avec des entreprises de logistique/de transport pour la livraison de vos commandes. 
    Les informations suivantes peuvent être transmises à ces partenaires pour la livraison ou bien pour envoyer des 
    informations sur le statut de l’envoi de votre colis : prénom, nom, adresse postale, adresse e-mail ou bien 
    numéro de téléphone. Base juridique : RGPD, Art. 6, paragraphe 1,lettre b).</p>
    <p>Aucune donnée personnelle n'est cédée à des tiers.</p>

    <h1 class="px-2 py-2 font-bold text-dark-orange">9. Transferts de données</h1>
    <h1 class="px-2 py-2 font-bold text-dark-orange">9.1. Transferts de données au sein de l’Union européenne</h1>
    <p>L’établissement en France transfère des données personnelles à son siège social en Allemagne.</p>

    <h1 class="px-2 py-2 font-bold text-dark-orange">9.2. Transferts de données en dehors de l’Union européenne</h1>
    <p>Dans le cadre de l’utilisation de cookies, des données personnelles sont transférées en dehors du territoire 
    de l’Union européenne.</p>

    <h1 class="px-2 py-2 font-bold text-dark-orange">10. Durées de conservation et d’archivage</h1>
    <p>Sauf exception ci-après, les données personnelles relatives aux clients sont conservées pour la durée 
    strictement nécessaire à la gestion de la relation commerciale, augmentée – à des fins et sous forme d’archivage 
    intermédiaire – de la durée conforme aux dispositions en vigueur, dans le cadre du respect d’une obligation 
    légale et au regard des règles de prescription.</p>

    <h1 class="px-2 py-2 font-bold text-dark-orange">11. Droits des personnes concernées</h1>
    <p>Les personnes dont les données sont collectées disposent d'un droit d'accès, de rectification, d’effacement, 
    de minimisation et un droit de portabilité des informations les concernant.</p>
    <p>Les personnes concernées disposent également du droit de définir des directives générales et particulières 
    définissant la manière dont elles entendent que soient exercés les droits mentionnés ci-dessus, après leur décès.</p>
    <p>Dans les conditions prévues par la loi et le RGPD, si la base légale pour le traitement est l’intérêt 
    légitime de la Société, sauf pour la Société à démontrer l’existence de motifs impérieux et légitimes pour 
    ce traitement qui prévalent sur les intérêts, droits et libertés de la personne concernée, les personnes 
    peuvent également, pour des raisons tenant à leur situation particulière (motif légitime), s’opposer au traitement 
    des données les concernant.</p>
    <p>Pour exercer ces droits ou pour toute question sur le traitement de données, les personnes concernées peuvent 
    s’adresser à : contact@flamboyantcrea.com</p>
    <p>La copie d’une pièce d’identité valide peut être demandée.</p>
    <p>Les personnes concernées disposent du droit d’introduire une réclamation auprès de l’autorité de contrôle 
    compétente en France, à savoir la Commission Nationale de l’Informatique et des Libertés (CNIL).</p>

    <h1 class="px-2 py-2 font-bold text-dark-orange">12. Mesures organisationnelles et de sécurité</h1>
    <p>La Société met en œuvre des mesures organisationnelles, techniques, logicielles et physiques afin de 
    garantir la sécurité des données personnelles contre les altérations, destructions et accès non autorisés 
    (notamment utilisation du système de codage SSL, mot de passe pour accéder au compte).</p>

    <h1 class="px-2 py-2 font-bold text-dark-orange">13. Modifications</h1>
    <p>La Société se réserve le droit d’apporter toute modification à la présente politique relative au traitement 
    des données personnelles à tout moment.</p>
  </div>
</div> 
{% endblock %}
