{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}
<div class="text-center p-4">
  <div class="py-3 lg:py-6">
    <h4
      class="rounded-lg bg-light-orange text-dark-red font-display font-bold text-3xl lg:text-4xl py-2 px-10 lg:px-40 align-middle inline-block"
    >
      Bienvenue
    </h4>
  </div>
  <p class="pb-1 lg:text-xl">
    Bienvenue sur notre site d’achat de fournitures pour les <span class="text-dark-orange">loisirs créatifs</span>.
  </p>
  <p class="pb-1 lg:text-xl">
    Vous trouverez ici un large choix de produits <span class="text-dark-orange">écoresponsables</span> accessibles pour toutes les bourses.
  </p>
  <p class="pb-1 lg:text-xl">
    Les tissus, les fils, et la peinture sont <span class="text-dark-orange">certifiés bio</span>.
  </p>
  <p class="pb-1 lg:text-xl">
    Vous pouvez également retrouver nos articles en magasin à l’adresse suivante :
  </p>
  <p class="text-dark-blue font-bold pt-1 lg:pt-3 lg:text-xl">
    50 Boulevard Einstein</br>44200 Nantes
  </p>
</div> 
{% endblock %}
